
.news-page-section{
        .lead-section-title{
            font-size: 36px !important;
            line-height: 46px !important;
        }
}

.news-single-content{
    padding: 67px 0;
    img{
        width: 100%;
    }
    
    p{
        margin-bottom: 30px;
    }
    
    .news-tags{
        a{
            text-transform: lowercase;
        }
        
        .tag-title{
            font-weight: $font-weight-medium;
        }
    }
}